torch
#ml-dtypes could be build from sources with gcc 10
einops
lightning
torchmetrics
transformers
diffusers
huggingface-hub
tensorflow-hub
#temporarly removed on Python 3.13
#tensorflow[and-cuda]
#segmentation-models-pytorch
#torchvision
#onnx
#onnxscript
